# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.pytest_cache/
tests/
pytest.ini

frontend/.next
node_modules/
frontend/node_modules/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.npm/
.pnpm-store/
